/* nav-related CSS stylings */

#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  height: 80px;
  width: 100%;
}
#nav-bar .header {
  position: relative;
  font-size: 2em;
  padding-left: 10px;
  line-height: 80px;
  float: left;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}