.line-separator {
  border-top: 2px solid black;
  height: 4px;
  width: 90%; 
  padding-bottom: 6px;
  
}

.container {
  border-radius: 5px;
  border-color: grey;
  border-width: 2px;
  background-color: azure;
  height: 135px;
}

.counter {
  text-align: right;
  float:right;
}
.too-long {
  color: red;
}
.new-tweet {
  padding-left: 5px;
  text-align: left;
  margin-right: .5em;
  margin-left: .5em;
  margin-bottom: 1em;
}

.new-tweet textarea {
  width: 99%;
  padding: 5px 5px;
  resize: none;
}

.container h2 {
  margin: 1px;
  
}