.article .tweet {
  background-color: salmon;
}

.tweet-container {
  background-color: whitesmoke;
  border-radius: 3px;
  
}
.tweet .header {
  display: inline-block;
  width: 100%;
  padding-right: .5em;
  padding-left: .5em;
  padding-top: .5em;
  background-color: lightblue;
}
.tweet .twitter-handle {
  text-align: right;
  float:right;
  color: lightslategrey;
}

.tweet .display-name {
  width: 4em;
  display: inline-block;
}
.tweet .avatar {
  width: 60px;
  height: 60px;
  border: solid 1px black;
  border-radius: 3px;
  float: left;
}