#tweet-container {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: .5em;
  height: auto;
}

.tweet .header {
  display: inline-block;
  width: 100%;
  padding-right: .5em;
  padding-left: .5em;
  padding-top: .5em;
  background-color: #e6f2ff;
}

.tweet .twitter-handle {
  text-align: right;
  float:right;
  color: lightslategrey;
}

.tweet .display-name {
  width: auto;
  color: #cccccc;
  float:left;
  padding-left: .1em;
}

.tweet .avatar {
  width: 60px;
  height: 60px;
  border: solid 1px black;
  border-radius: 3px;
  float: left;
}

.avatar:hover {
  cursor: pointer;
}

.tweet:hover .hover-float {
  display: block;
}

.tweet:hover .header-float {
  background-color: #cce6ff;
}

.tweet:hover .tweet-name-hover {
  color: #244751;
}

.tweet:hover .twitter-handle-hover {
  color: #434d56;
}

.footer .flags {
  height: 4em;
  width: 5.5em;
  object-fit: contain;
  
  /* display: none; */
}
.invisible {
  display: none;
}
.footer {
  background-color: cornsilk;
  height: 2em;
  padding: 1.5px;
}

.tweet-text {
  word-wrap: break-word;
}

.fa-heart {
  text-align: left;
  float: left;
}

.like-counter-integer {
  /* margin-right: .5em; */
  width: 1em;
  float: left;
}
.fa-heart:hover {
  color: red;
  cursor: pointer;
  
}